# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store

# Ignoring specific Library stuff.
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper

# Don't need Temp or Build at all.
Temp/*
Build/*

# Don't need the custom settings because not
# everyone has the same setup.
*.csproj
*.pidb
*.sln
*.userprefs